@using Oyunlar.Models
@model List<Kategori>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.KategoriID</th>
            <th>@x.KategoriAd</th>
            <th><a href="/Kategori/KategoriSil/@x.KategoriID" class=" btn btn-danger">Sil</a></th>
            <th><a href="/Kategori/KategoriGetir/@x.KategoriID" class=" btn btn-warning">Güncelle</a></th>
            <th><a href="/Kategori/OyunListele/@x.KategoriID" class=" btn btn-dark">Detay</a></th>

        </tr>
    }


</table>
<a href="/Kategori/YeniKategori" class=" btn btn-success">Yeni Kategori</a></th>


