@model Oyunlar.Models.Kategori;
@{
    ViewData["Title"] = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form class="form-group" method="post">
    <b>Kategori Adı</b>
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Ekle</button>

</form>